[submodule "yoga"]
    path = libc/yoga
    url = https://github.com/react/yoga

[submodule "harfbuzz"]
    path = libc/harfbuzz
    url = https://github.com/harfbuzz/harfbuzz

[submodule "fribidi"]
    path = libc/fribidi
    url = https://github.com/fribidi/fribidi
[submodule "msdfgen"]
    path = libc/msdfgen
    url = https://github.com/Chlumsky/msdfgen.git
[submodule "libc/lunasvg"]
	path = libc/lunasvg
	url = https://github.com/sammycage/lunasvg.git
[submodule "libc/plutovg"]
	path = libc/plutovg
	url = https://github.com/sammycage/plutovg.git
