[submodule "yoga"]
    path = libc/yoga
    url = https://github.com/react/yoga

[submodule "harfbuzz"]
    path = libc/harfbuzz
    url = https://github.com/harfbuzz/harfbuzz

[submodule "libc/sheenbidi"]
	path = libc/sheenbidi
	url = https://github.com/Tehreer/SheenBidi.git

[submodule "msdfgen"]
    path = libc/msdfgen
    url = https://github.com/Chlumsky/msdfgen.git

[submodule "libc/lunasvg"]
	path = libc/lunasvg
	url = https://github.com/sammycage/lunasvg.git

[submodule "libc/plutovg"]
	path = libc/plutovg
	url = https://github.com/sammycage/plutovg.git

[submodule "libc/tracy"]
	path = libc/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "libc/libunibreak"]
	path = libc/libunibreak
	url = https://github.com/adah1972/libunibreak.git

[submodule "libc/budouxc"]
	path = libc/budouxc
	url = https://github.com/memononen/budouxc.git

[submodule ".tools/back"]
	path = .tools/back
	url = https://github.com/laytan/back.git
